
# Package building uses these as scratch space:
psc-core/debian/psc-core/
psc-util/debian/psc-util/
psc-term/debian/psc-term/

# And these don't seem valuable:
*/debian/files
*.debhelper.log

# Package building creates all these in the root directory:
/*.build
/*.changes
/*.deb
/*.dsc
/*.tar.gz

# And then the indices etc are built:
Packages
Packages.gz
Release
Release.gpg
