
# And these don't seem valuable:
*/debian/files
*.debhelper.log
*.substvars

# Package building creates all these in the root directory:
/*.build
/*.changes
/*.deb
/*.dsc
/*.tar.gz

# And then the indices etc are built:
Packages
Packages.gz
Release
Release.gpg

# Package building uses these as scratch space:
#   This is at the bottom so the Makefile can add new entries.
psc-core/debian/psc-core/
psc-util/debian/psc-util/
psc-term/debian/psc-term/
psc-xwin/debian/psc-xwin/
psc-graph/debian/psc-graph/
psc-pydev/debian/psc-pydev/
psc-cdev/debian/psc-cdev/
psc-sword/debian/psc-sword/
psc-scan/debian/psc-scan/
psc-bind/debian/psc-bind/
