Source: psc-xwin
Section: misc
Priority: optional
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>=12)
Standards-Version: 4.5.0

Package: psc-xwin
Architecture: all
Depends: ${misc:Depends}, arandr, dillo, openbox,
 libnotify-bin, libnotify-doc,
 redshift, rxvt-unicode, scrot, simpleswitcher, suckless-tools, sxiv,
 vim-gtk, wmctrl,
 x11-utils, xbacklight, xclip, xdotool, xmacro, xteddy, zenity,
Description: Collection of toolkit-independent GUI tools
 This metapackage provides nothing itself, but depends upon packages
 that the maintainer considers important for working in X windows
 environment.  The idea is that they won't have a dependency on
 a particular toolkit, although there will be some usage of GTK,
 mostly courtesy of package recommendations.
 .
   * arandr - wraps xrandr for multi-monitor
   * dillo - ugly but lightweight html browser
   * openbox - an excellent window manager
   * libnotify-bin - to send messages to the screen
   * redshift - comfortable colours and brightness
   * rxvt-unicode - the urxvt terminal
   * scrot - for screenshots
   * simpleswitcher - interactive window finder
   * suckless-tools - for the excellent dmenu
   * sxiv - minimalistic image viewer
   * vim-gtk - to edit odd things
   * wmctrl - for finding windows
   * x11-utils - little utilities
   * xbacklight - adjust the screen brightness
   * xclip - to manage the clipboards
   * xdotool - generate fake keystrokes
   * xmacro - largely replaced by xdotool
   * xteddy - furry companion
   * zenity - for scriptable popups
 .
 Their documentation is also included.
