Source: psc-cdev
Section: misc
Priority: extra
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/psc-cdev.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/psc-cdev.git;a=summary

Package: psc-cdev
Architecture: all
Depends: ${misc:Depends},
 libc-dev, gcc, g++,
 make, exuberant-ctags,
 indent, indent-doc, valgrind,
Description: Collection of well-used C development programs
 This metapackage provides nothing itself, but depends on lots of packages
 that the maintainer uses for C development.  They are:
 .
   * exuberant-ctags - for improved IDE experience
   * gcc & g++ - compilers for C and C++ code
   * indent - reformat code to match standards
   * libc-dev - the GNU C library
   * make - the most common build tool
   * valgrind - detect some kinds of programmer error
 .
 Their documentation is also included.
