Source: psc-unbin
Section: misc
Priority: optional
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>=12)
Standards-Version: 3.9.6

Package: psc-unbin
Architecture: all
Depends: ${misc:Depends},
 antiword, binutils, binutils-doc, bomstrip, catdoc, docx2txt, dos2unix,
 file, html2text, libimage-exiftool-perl, poppler-utils,
 sqlite3, sqlite3-doc, tofrodos,
 unrtf, xlsx2csv, xxd,
Description: Collection of binary-to-text converters
 This metapackage provides nothing itself, but depends on lots of packages
 that the maintainer uses to convert binary (often proprietary) file formats
 into plain text.  Useful for indexing tools, and for managing filesystems
 remotely over SSH.
 .
   * antiword - read MS .doc files
   * binutils - only for `strings` really
   * bomstrip - get rid of byte-order markers
   * catdoc - also includes `catppt` and `xls2csv`
   * docx2txt - read MS .docx files
        [perl-based, but dependency not declared!]
   * dos2unix - the original crlf <-> lf converter
   * file - tell file types with magic numbers
   * html2text - renders web pages plainly
   * libimage-exiftool-perl - jpeg photo metadata
   * poppler-utils - for pdftotext and co
   * sqlite3 - a shell for databases
   * tofrodos - another crlf <-> lf converter
   * unrtf - read Rich Text Format
   * xlsx2csv - extract data from spreadsheets
        [python-based]
   * xxd - to do a hexdump
 .
 Their documentation is also included.
