Source: psc-term
Section: misc
Priority: optional
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: psc-term
Architecture: all
Depends: ${misc:Depends},
 aspell, hexer, hnb, htop,
 msmtp-mta | mail-transport-agent, mutt,
 ncdu, ncmpcpp, screen,
 tig, w3m, urlview, wyrd
Description: Collection of well-known terminal applications
 This metapackage provides nothing itself, but depends on lots of packages
 that the maintainer uses regularly in terminal windows.  These are ones
 that use the full window space, probably using ncurses.
 .
   * aspell - too cheque what eye rite
   * hexer - to edit binary files
   * hnb - an outlining note taker
   * htop - tolerable browsing of processes
   * mutt - least-suckiest mail client
   * msmtp-mta (or equivalent) - to satify mutt's deps
   * ncdu - to see what is taking up all the space
   * ncmpcpp - for managing playback on MPD servers
   * screen - to multiplex and detach terminals
   * tig - to browse git history
   * w3m - HTML renderer and web client
   * urlview - select web pages to launch
   * wyrd - frontend to remind calendars
 .
 Their documentation is also included.
