Source: psc-term
Section: misc
Priority: optional
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>=9)
Standards-Version: 4.5.0

Package: psc-term
Architecture: all
Depends: ${misc:Depends},
 abook, aspell, fzf, hexer, hnb, htop,
 msmtp-mta | mail-transport-agent, mutt,
 ncdu, ncmpcpp, pick, screen, tig,
 urlview-patched | urlview,
 w3m, wyrd
Description: Collection of well-known terminal applications
 This metapackage provides nothing itself, but depends on lots of packages
 that the maintainer uses regularly in terminal windows.  These are ones
 that use the full window space, probably using ncurses.
 .
   * abook - addresses and contacts
   * aspell - too cheque what eye rite
   * fzf - select options from a list
   * hexer - to edit binary files
   * hnb - an outlining note taker
   * htop - tolerable browsing of processes
   * mutt - least-suckiest mail client
   * msmtp-mta (or equivalent) - to satisfy mutt's deps
   * ncdu - to see what is taking up all the space
   * ncmpcpp - for managing playback on MPD servers
   * pick - select options from a list
   * screen - to multiplex and detach terminals
   * tig - to browse git history
   * urlview - select web pages to launch (patched!)
   * w3m - HTML renderer and web client
   * wyrd - frontend to remind calendars
 .
 Their documentation is also included.
