Source: psc-util
Section: misc
Priority: extra
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/psc-util.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/psc-util.git;a=summary

Package: psc-util
Architecture: all
Depends: ${misc:Depends},
Description: Collection of well-used command line utilities
 This package provides nothing itself, but depends on lots of packages
 that the maintainer uses regularly on the command line.  They are:
 .
   * (none so far)
 .
 Their documentation is also included.
