Source: psc-util
Section: misc
Priority: extra
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/psc-util.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/psc-util.git;a=summary

Package: psc-util
Architecture: all
Depends: ${misc:Depends}, ack-grep, acpi, antiword, apache2-utils, apcalc,
 bc, binutils, binutils-doc, bsdgames,
 catdoc, cfv, cloc, colordiff, dc, docx2txt, dos2unix, dnsutils, ed,
 fdupes, figlet, file, gpw, jq, m4, m4-doc,
 make, markdown, moreutils, mpc, msmtp,
 netcat-openbsd, oathtool, offlineimap, openssl,
 pv, qprint, qprint-doc,
 realpath, rlwrap, remind, sharutils, sharutils-doc, sqlite3, sqlite3-doc,
 sshuttle, strace, sysvbanner,
 task-spooler, telnet, tidy, tidy-doc,
 tofrodos, toilet, tree, trim-c, units, uudeview, uuid, wdiff, wdiff-doc, whois,
Description: Collection of well-used command line utilities
 This metapackage provides nothing itself, but depends on lots of packages
 that the maintainer uses regularly on the command line.  They are:
 .
   * ack-grep - ack is better than grep
   * acpi - monitor batteries and temperatures
   * antiword - read MS .doc files
   * apache2-utils - for htpasswd manager
   * apcalc - for the `calc` calculator
   * bc - for another calculator
   * binutils - only for `strings` really
   * bsdgames - for serious stuff, like rot13
   * catdoc - also includes `catppt` and `xls2csv`
   * cfv - create and verify checksum hash files
   * cloc - count lines of code
   * colordiff - for more readable deltas
   * dc - for reverse polish calculations
   * docx2txt - read MS .docx files
   * dos2unix - the original crlf <-> lf converter
   * dnsutils - for `dig` and `nslookup`
   * ed - the editor you only use when desparate
   * fdupes - to find duplicates in a filesystem
   * figlet - create more big banners of text
   * file - tell file types with magic numbers
   * gpw - to generate codenames and vanity handles
   * jq - for manipulating JSON
   * m4 - a text preprocessor
   * make - to build all sorts of things
   * markdown - the text-to-html converter (pl version)
   * moreutils - assorted stuff not in coreutils
   * mpc - connect to MPD servers
   * msmtp - to send emails
   * netcat-openbsd - the version with `nc -U`
   * oathtool - TOTP two-factor authentication
   * offlineimap - synchronise with mail servers
   * openssl - manage encryption and certificates
   * pv - pipe viewer - cat with a progress bar
   * qprint - encode/decode quoted-printable text
   * realpath - follow symlinks
   * rlwrap - add readline to a program shells
   * remind - calendar of recurring events
   * sharutils - handle shar and uuencode files
   * sqlite3 - a shell for databases
   * sshuttle - for quick n dirty VPNs
   * strace - to see what a program is doing
   * sysvbanner - create big banners of text
   * task-spooler - a job queue
   * telnet - for crude networking
   * tidy - to clean up HTML and XML files
   * tofrodos - another crlf <-> lf converter
   * toilet - create even more big banners o text
   * tree - to visualise a filesystem
   * trim-c - drop extra chars in long lines
   * units - convert between different units
   * uudeview - encode and decode lots of files
   * uuid - for random identifiers
   * wdiff - to compare files within lines
   * whois - for `whois` and `mkpasswd`
 .
 Their documentation is also included.
