Source: psc-util
Section: misc
Priority: optional
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>=12)
Standards-Version: 4.5.0

Package: psc-util
Architecture: all
Depends: ${misc:Depends},
 adb, ack-grep, acpi, apache2-utils,
 bc, bsdgames, bsdutils (>= 0), bsdextrautils,
 calc, calendar, colordiff, dc, dos2unix, dnsutils, ed,
 fdupes, figlet, file, gettext-base, gpw,
 hashdeep, hledger, jq, laptop-detect,
 make, markdown, moreutils, mpc,
 ncal, netcat-openbsd, oathtool, openssl,
 par, pv, qprint,
 recode, recomi, remind, rhash, ripgrep, rlwrap,
 sharutils, sqlite3, sshuttle, strace, sysvbanner,
 task-spooler, telnet, tidy,
 tofrodos, toilet, tree, trim-c, units, uudeview, uuid,
 wdiff, whois,
Recommends: make-doc, qprint-doc, recode-doc,
 sharutils-doc, sqlite3-doc, wdiff-doc,
Description: Collection of well-used command line utilities
 This metapackage provides nothing itself, but depends on lots of packages
 that the maintainer uses regularly on the command line.  They are:
 .
   * adb - manage Android phones
   * ack-grep - ack is better than grep
   * acpi - monitor batteries and temperatures
   * apache2-utils - for htpasswd manager
   * bc - for another calculator
   * bsdgames - for serious stuff, like rot13
   * bsdutils - for things like `logger`
   * bsdextrautils - e.g. for `hexdump` and `column`
   * calc - for a calculator
   * calendar - annual reminders
   * colordiff - for more readable deltas
   * dc - for reverse polish calculations
   * dos2unix - the original crlf <-> lf converter
   * dnsutils - for `dig` and `nslookup`
   * ed - the editor you only use when desperate
   * fdupes - to find duplicates in a filesystem
   * figlet - create more big banners of text
   * file - tell file types with magic numbers
   * gettext-base - for `envsubst` templating
   * gpw - to generate codenames and vanity handles
   * hashdeep - formerly called md5deep
   * hledger - to balance the books
   * jq - for manipulating JSON
   * laptop-detect - guess type of computer
   * make - to build all sorts of things
   * markdown - the text-to-html converter (pl version)
   * moreutils - assorted stuff not in coreutils
   * mpc - connect to MPD servers
   * ncal - the cal calendar
   * netcat-openbsd - the version with `nc -U`
   * oathtool - TOTP two-factor authentication
   * openssl - manage encryption and certificates
   * par - reformats paragraphs
   * pv - pipe viewer - cat with a progress bar
   * qprint - encode/decode quoted-printable text
   * recode - change character encodings
   * recomi - my own repo collection mirror
   * remind - calendar of recurring events
   * rhash - many different checksums
   * ripgrep - quickly search file contents
   * rlwrap - add readline to a program shells
   * sharutils - handle shar and uuencode files
   * sqlite3 - a shell for databases
   * sshuttle - for quick n dirty VPNs
   * strace - to see what a program is doing
   * sysvbanner - create big banners of text
   * task-spooler - a job queue
   * telnet - for crude networking
   * tidy - to clean up HTML and XML files
   * tofrodos - another crlf <-> lf converter
   * toilet - create even more big banners of text
   * tree - to visualise a filesystem
   * trim-c - drop extra chars in long lines
   * units - convert between different units
   * uudeview - encode and decode lots of files
   * uuid - for random identifiers
   * wdiff - to compare files within lines
   * whois - for `whois` and `mkpasswd`
 .
 Their documentation is also included.
