Source: psc-scan
Section: misc
Priority: optional
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/psc-scan.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/psc-scan.git;a=summary

Package: psc-scan
Architecture: all
Depends: ${misc:Depends}, imagemagick, imagemagick-doc,
 python-reportlab, python-reportlab-doc,
 rlwrap, sane-utils, tesseract-ocr,
Description: Collection of packages for scanning and filing papers
 This metapackage provides nothing itself, but depends on lots of packages
 that the maintainer uses for scanning in paperwork.  They are:
 .
   * imagemagick - for mogrify to rotate images
   * python-reportlab - to build the PDFs
   * rlwrap - gives readline support to the wizard
   * sane-utils - for the scanimage tool
   * tesseract-ocr - to read text out of images
 .
 Their documentation is also included.
