Source: psc-xapp
Section: misc
Priority: optional
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1

Package: psc-xapp
Architecture: all
Depends: ${misc:Depends},
 dillo, feh, mpv, rxvt-unicode, nsxiv | sxiv, vim-gtk3, xteddy,
 zathura, zathura-pdf-poppler, zathura-ps, zathura-djvu,
Recommends: vim-doc,
Conflicts: youtube-dl (<< 9000)
Description: Collection of lightweight X11 applications
 This metapackage provides nothing itself, but depends upon packages
 that the maintainer considers important for working in X windows
 environment.  They are applications that have bare-minimum user
 interfaces.
 .
   * dillo - ugly but lightweight html browser
   * feh - configurable image viewer
   * mpv - swiss-army media player
   * rxvt-unicode - the urxvt terminal
   * sxiv or nsxiv - minimalistic image viewer
   * vim-gtk3 - to edit odd things
   * xteddy - furry companion
   * zathura - pluggable document viewer
 .
 Their documentation is included as a recommendation in case any
 of them have non-free licences and are difficult to install.
