Source: psc-dev
Section: misc
Priority: optional
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/psc-dev.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/psc-dev.git

Package: psc-dev
Architecture: all
Depends: ${misc:Depends},
 cloc, git, make,
 patch, quilt, shellcheck, sqlite3, tig, vim,
Recommends: git-doc, git-man, make-doc, sqlite3-doc, vim-doc,
Description: Collection of tools for general software development
 This metapackage provides nothing itself, but depends on lots of packages
 that the maintainer uses for development.  They are:
 .
   * cloc - count lines of code
   * git - the version control system
   * make - the most common build tool
   * patch - to apply diffs
   * quilt - manage sets of patches to apply
   * shellcheck - to whinge about shell scripts
   * sqlite3 - a shell for databases
   * tig - to browse git history
   * vim - for editing files properly
 .
 Their documentation is also included, but only as a recommendation
 because some of them have non-free licensing.
