Source: psc-graph
Section: misc
Priority: optional
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: psc-graph
Architecture: all
Depends: ${misc:Depends}, ghostscript, ghostscript-doc, groff,
 html2ps, imagemagick, imagemagick-doc,
 libjpeg-progs, mp, mupdf, mupdf-tools, netpbm,
 psutils,
Description: Collection of packages for images and typesetting
 This metapackage provides nothing itself, but depends on lots of packages
 that the maintainer finds valuable for handling images and doing page
 layout.  They are:
 .
   * ghostscript - kitchen sink for postscript
   * groff - a typesetter (more than just groff-base)
   * html2ps - render documents on a page
   * imagemagick - convert image formats
   * libjpeg-progs - rotate photographs
   * mp - convert emails to postscript
   * mupdf - to view PDF and XPS files
   * mupdf-tools - command line converters
   * netpbm - more image conversion
   * psutils - rearrange postscript pages
 .
 Their documentation is also included.
