Source: psc-graph
Section: misc
Priority: optional
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.5.0

Package: psc-graph
Architecture: all
Depends: ${misc:Depends},
 findimagedupes, ghostscript, groff,
 html2ps, imagemagick,
 libheif-examples, libjpeg-progs,
 mp, mupdf, mupdf-tools, netpbm,
 pdfgrep, psutils, qpdf, webp,
 zbar-tools,
Recommends: ghostscript-doc, imagemagick-doc,
Description: Collection of packages for images and typesetting
 This metapackage provides nothing itself, but depends on lots of packages
 that the maintainer finds valuable for handling images and doing page
 layout.  They are:
 .
   * findimagedupes - does what it says on the tin
   * ghostscript - kitchen sink for postscript
   * groff - a typesetter (more than just groff-base)
   * html2ps - render documents on a page
   * imagemagick - convert image formats
   * libheif-examples - convert heif/heic images
   * libjpeg-progs - rotate photographs
   * mp - convert emails to postscript
   * mupdf - to view PDF and XPS files
   * mupdf-tools - command line converters
   * netpbm - more image conversion
   * pdfgrep - search inside documents
   * psutils - rearrange postscript pages
   * qpdf - strip off pdf passwords
   * webp - convert webp images
   * zbar-tools - decode QR codes with zbarimg
 .
 Their documentation is included as a recommendation in case any
 of them have non-free licences and are difficult to install.
