Source: psc-core
Section: misc
Priority: optional
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: psc-core
Architecture: all
Depends: ${misc:Depends},
 bash (>= 0), bash-doc,
 cifs-utils, coreutils (>= 0), cryptsetup, curl,
 git, git-doc, git-man, gnupg,
 less, ncp, nmap, openssh-client,
 rsync, tar (>= 0), tar-doc, unzip,
 vim, vim-doc, wget,
Description: Collection of pretty-much essential packages
 This metapackage provides nothing itself, but depends on lots of packages
 that the maintainer considers close-to-essential.  That is:
 .
   * bash - the shell
   * cifs-utils - mount Windows SMB shares
   * coreutils - for everything else
   * cryptsetup - to use encrypted drives
   * curl - for getting stuff off the web
   * git - the version control system
   * gnupg - least-worst cryptography
   * less - because *everything* uses it
   * ncp - to npush/npoll across net (packaged myself)
   * nmap - to find network neighbours
   * openssh-client - to connect to servers
   * rsync - to pull data efficiently
   * tar - unpack data from tarballs
   * unzip - unpack data from .zip files
   * vim - for editing files properly
   * wget - also for getting stuff
 .
 These are the bare minimum necessary to bootstrap a system.  Their
 documentation is also included.
 .
 Some of them might not seem completely necessary, but because
 other packages recommend them they'd be installed anyway.
