Source: psc-bind
Section: misc
Priority: optional
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.5.0

Package: psc-bind
Architecture: all
Depends: ${misc:Depends},
 default-libmysqlclient-dev,
 libffi-dev,
 libpq-dev, libreadline-dev, libsqlite3-dev, libssl-dev, libssl-doc
Description: Collection of header files for language bindings
 This metapackage provides nothing itself, but depends on lots of
 development packages for frequently-used libraries.  This is partly
 to make them available for building, but particularly to make them
 available for higher level languages when third-party developers
 distribute modules that bind to a C implementation.  For example,
 using pip to install MySQLdb in Python.
 .
   * default-libmysqlclient-dev - connect to MySQL or MariaDB
   * libffi-dev - foreign function interface
   * libpq-dev - connect to PostgreSQL
   * libreadine-dev - edit user prompts
   * libsqlite3-dev - "connect" to file databases
   * libssl-dev - the infamous OpenSSL
 .
 Their documentation is also included.
