Source: psc-pydev
Section: misc
Priority: extra
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/psc-pydev.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/psc-pydev.git;a=summary

Package: psc-pydev
Architecture: all
Depends: ${misc:Depends}, python2.7, python2.7-doc,
 python-pip, python-virtualenv, virtualenvwrapper,
Description: Collecton of packages for Python development
 This package provides nothing itself, but depends on lots of
 packages that the maintainer uses when working in Python
 .
   * python2.7 - an actual interpreter
   * python-pip - to acquire libraries
   * python-virtualenv - isolate dependencies
   * virtualenvwrapper - makes virtualenv usable
 .
 Their documentation is also included.
