Source: psc-debdev
Section: misc
Priority: optional
Maintainer: P. S. Clarke <debs@pscl4rke.net>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1

Package: psc-debdev
Architecture: all
Depends: ${misc:Depends},
 apt-utils, debhelper, devscripts, dh-make, equivs,
 gnupg, lintian, quilt, sitecopy,
Description: Collection of packages for Deb packaging
 This metapackage provides nothing itself, but depends on lots of
 packages that the maintainer uses when producing metapackages like
 this.
 .
   * apt-utils - for apt-ftparchive tools
   * debhelper - so `dh` in the rules file works
   * devscripts - for the `debuild` command
   * dh-make - to create new packages
   * equivs - quickly create fake packages
   * gnupg - to sign packages and releases
   * lintian - quality assurance
   * quilt - manage a patch series
   * sitecopy - upload to ftp servers
 .
 Their documentation is also included.
